/* Universal Styles */
body {
  font-family: Verdana;
  text-align: center;
  color: white;
}

/* header */

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

#download {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size: 21px;
}

h4 {
  text-align: right;
  color: gray;
}
